.sidebar-section img{
    width: 100%;
}
.imagineLateralaAcasa{
    height: 50%;
    width: 100%;
}
.logo{
    width: 20%;
}
.bineAtiVenit{
    text-align: center;
}
.acasaWrapper{
    background-color: white;
    margin-left : 5% ;
    margin-right:5% ;
    margin: auto;
    width: 1200px ;
    
}
.colImagineAcasa{
    height: 400px;
    width: 1200px;
    background-image: url('../images/acasa.jpg');
    background-size: cover;
    position: relative;
}
.oferimTratament{
    padding-top: 3%;
    padding-left: 1%;
    font-family: 'Times New Roman';
}
.content{
    padding-left: 5%;
    padding-right: 5%;
}
.footer{
    background-color: blanchedalmond;
    padding-top: 1px; 
}
